{% extends 'base.html' %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'dashboard' %}">ISystem</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'dashboard' %}">Все проблемы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'report' %}">Сообщить о проблеме</a>
                    </li>
                </ul>
                <span class="navbar-text">
            С возвращением, {{ request.user }}! [<a href="{% url 'logout' %}">Выйти</a>]
            </span>
            </div>
        </div>
    </nav>
    
    {% block content %}
    
    {% endblock %}
{% endblock %}